
	<div class="cloud2">
		<div class="cloud1">
			<div class="sun">
				<div class="city">
					<div class="box">
						<div class="stuff_in_box">
								<p>WalkSafe</p>
							<% if logged_in? %>
								<button id="crime_map">
									<%= link_to "Crime Map", crimes_path %>
								</button>
								<button id="profile">Profile</button>
								<button id="logout">
									<%= link_to "Log out", logout_path, method: "delete" %>
								</button>		
							<% else %>
								<button id="login">Log In</button> 
								<button id="signup">Sign Up</button> 
								<button id="about">About</button>						
							<% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="login_box">
		<div id="login_text">
			<div id="stuff">
				<p>Log in</p>
			  <%= form_for(:session, url: login_path) do |f| %>

			    <%= f.label :email %>
			    <%= f.text_field :email, class: 'form-control' %>

			    <%= f.label :password %>
			    <%= f.password_field :password_digest, class: 'form-control' %>

			    <%= f.submit "Log in", class: "btn btn-primary" %>
			  <% end %>
			  <button id="login_cancel">Back</button>
			 </div> 
	  </div>
	</div>

	<div id="signup_box">
		<div id="signup_text">
			<%= render 'form' %>
			<button id="signup_cancel">Back</button>
		</div>
	</div>

	<div id="about_box">
		<div id="about_text">
			<p>We are here to provide a service.</p>
			<button id="about_cancel">Back</button>
		</div>
	</div>

<script>
	// Adds the click function	
	// $("body").click(function() {
	//     $(this).toggleClass('clicked');
	// });

	function removeMainBox(){
		$('.box').toggleClass('remove_box');
	}	

	function loginWindow(){
		$('#login_box').slideToggle();
	}

	function signupWindow(){
		$('#signup_box').slideToggle();
	}

	function aboutWindow(){
		$('#about_box').slideToggle();
	}	

	function cloud1(){
		var cloud1 = $("<img class='cloud1' src='./cloud4.png'>");
		$('div.cloud1').append(cloud1);
		cloud1.css({
			position: 'relative',
			'padding-top': '60px',
	  	height: '60%',
	  	width: '50%',
	  	left: '-500px',
			'z-index': '1',
			display: 'block'
		});
		cloud1.delay(500);
		cloud1.animate({
			left: '600px'
		}, 25000);
	}

	function cloud2(){
		var cloud2 = $("<img class='cloud2' src='./cloud3.png'>");
		$('div.cloud2').append(cloud2);
		cloud2.css({
			position: 'relative',
			'padding-top': '40px',
	  	height: '40%',
	  	width: '30%',
	  	left: '-500px',
			'z-index': '1',
			display: 'block'
		});
		cloud2.delay(1500);
		cloud2.animate({
			left: '200px'
		}, 30000);
	}


	function sunRise(){
	  var sunshine = $("<img class='sunshine' src='./sun.png'>");
	  $('div.sun').append(sunshine);
	  sunshine.css({
	  	position: 'relative',
	  	height: '30%',
	  	width: '15%',
	  	float: 'right',
	  	bottom: '-600px',
	  	'z-index': '1',
	  	display: 'block'
	  });
	  sunshine.animate({
	  	bottom: '5px'
	  }, 10000);
	}
	
	$(function(){

		$("body").toggleClass('sky');
		cloud1();
		cloud2();
		sunRise();
		$("#login").click(function(){			
			loginWindow();
			removeMainBox();
		});
		$("#signup").click(function(){
			signupWindow();
			removeMainBox();
		});	
		$("#about").click(function(){
			aboutWindow();
			removeMainBox();
		});	
		$("#login_cancel").click(function(){
			loginWindow();
			removeMainBox();
		})
		$("#signup_cancel").click(function(){
			signupWindow();
			removeMainBox();
		})	
		$("#about_cancel").click(function(){
			aboutWindow();
			removeMainBox();
		})					
	});

</script>