<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crime.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @crime.year %>
</p>

<p>
  <strong>Total:</strong>
  <%= @crime.total %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @crime.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @crime.longitude %>
</p>
<%= link_to 'Edit', edit_crime_path(@crime) %> |
<%= link_to 'Back', crimes_path %>
